<section class="how">
    <h3 class="subheading how__heading">How it works</h3>
    <header class="how__header">
        <h2 class="heading-secondary how__header--heading">Cooking has never been easy!</h2>
    </header>
    <div class="how__steps">
        <div class="how__steps--1">
            <fa-icon [icon]="faPeopleGroupIcon" class="how__steps--1-icon"></fa-icon>
            <div class="how__steps--content">
                <h4 class="subheading">Join us</h4>
                <p>Start your culinary journey by <a routerLink="/auth/register"
                        class="how__steps--content-reg">registering</a> for a free
                    account.
                    Create a personalized profile to
                    unlock
                    exclusive
                    features, save your favorite recipes, and receive tailored recommendations based on your
                    preferences.
                </p>
            </div>
        </div>
        <div class="how__steps--2">
            <fa-icon [icon]="faCompass" class="how__steps--1-icon"></fa-icon>
            <div class="how__steps--content">
                <h4 class="subheading">Explore Recipes</h4>
                <p>Discover a world of culinary delights by browsing our extensive collection of recipes. Whether you're
                    looking for a
                    quick weekday meal or planning a special dinner, we've got recipes for every occasion.</p>
            </div>
        </div>
        <div class="how__steps--3">
            <img class="how__steps--img" src="../../../assets/how-it-works-small.jpg" alt="food picture">
        </div>
        <div class="how__steps--4">
            <fa-icon [icon]="faBowl" class="how__steps--1-icon"></fa-icon>
            <div class="how__steps--content">
                <h4 class="subheading">Cook with Confidence</h4>
                <p>Follow our step-by-step cooking guides for each recipe. From prep to plate, we provide clear
                    instructions and tips to
                    ensure your cooking experience is enjoyable and rewarding. Unlock the joy of creating delicious
                    meals at home!</p>
            </div>
        </div>
    </div>
</section>