.how {
  max-width: 90%;
  height: 90vh;
  &__heading {
    padding: 4.8rem;
    margin-bottom: 0;
    font-size: 2.4rem;
  }

  &__header {
    width: 100%;
    height: 50%;
    background-image: linear-gradient(
        to right bottom,
        rgba(#e9ece9, 0.5),
        rgba(#3d503a, 0.8)
      ),
      url(../../../assets/how-it-works-big.jpg);
    background-size: cover;
    text-align: end;
    border-radius: 0 5rem 5rem 0;

    &--heading {
      padding: 8rem 8rem;
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 2rem 4.8rem;
    padding: 4.8rem;
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: 0.75px;

    &--content-reg:link,
    &--content-reg:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--color-accent-dark);
      font-size: 1.8rem;

      transition: all 300ms;
    }

    &--content-reg:hover,
    &--content-reg:active {
      color: var(--color-primary-dark);
    }

    &--1,
    &--2,
    &--4 {
      display: flex;
      gap: 3.2rem;
      padding: 4.8rem;

      &-icon {
        align-self: center;
        font-size: 7.4rem;
        color: var(--color-accent-dark);
      }
    }

    &--1 {
      grid-area: 1 / 1 / span 1 / span 2;
      background-color: var(--color-primary-bg);
      border-radius: 1rem;
      display: flex;
      color: var(--color-primary-light);

      &-icon {
        align-self: center;
        font-size: 7.4rem;
        color: var(--color-accent-dark);
      }
    }

    &--2 {
      grid-area: 1 / 3 / span 1 / span 2;
    }

    &--3 {
      display: grid;
      grid-area: 2 / 1 / span 2 / span 2;
    }

    &--4 {
      grid-area: 2 / 3 / span 2 / span 2;
      background-color: var(--color-primary-bg);
      border-radius: 1rem;
      height: fit-content;
      color: var(--color-primary-light);
      align-self: center;
      justify-self: center;
    }

    &--img {
      align-self: center;
      justify-self: center;
      height: 80%;
      width: 70%;
      border-radius: 1rem;
      object-fit: cover;
      margin-top: 1rem;
    }

    p {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 900px) {
  .how {
    margin: 0 auto;
    padding: 0;

    &__heading {
      padding: 3.2rem;
    }

    &__header {
      display: none;
    }

    &__steps {
      grid-template-columns: auto;
      gap: 2.4rem;
      padding-top: 0;

      &--1,
      &--2,
      &--4 {
        padding: 3.2rem;
        margin-right: 2.4rem;

        &-icon {
          align-self: center;
          font-size: 6.2rem;
        }
      }

      &--1 {
        grid-area: 2 / -1;
      }

      &--2 {
        grid-area: 3 / -1;
      }

      &--3 {
        grid-area: 1 / -1;
        margin-right: 2.4rem;
      }

      &--4 {
        grid-area: 4 / -1;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .how {
    &__steps {
      padding: 0;

      &:last-child {
        margin-bottom: 3.2rem;
      }
    }
  }
}
