<div class="form__container">
    <h2 class="form__heading">{{isRegistrationForm() ? 'Register' : 'Login'}}</h2>
    <form [formGroup]="formModel.form" class="form">

        @if (isRegistrationForm()) {
        <label class="form__label">First Name:</label>
        <input class="form__input" formControlName="firstName" />

        <label class="form__label">Last Name:</label>
        <input class="form__input" formControlName="lastName" />

        @if(isLoginForm()) {
        <label class="form__label">Email:</label>
        <input class="form__input" formControlName="email" />

        <label class="form__label">Password:</label>
        <input class="form__input" type="password" formControlName="password" />
        }

        <label class="form__label">Re-enter Password:</label>
        <input class="form__input" type="password" formControlName="rePassword" />
        }

        <input class="form__btn" type="submit" />
    </form>
</div>