.not-found {
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(104, 119, 102, 0.7) 0%,
      rgba(104, 119, 102, 0.7) 100%
    ),
    url("../../../assets/no-content-bg.avif");
  background-size: cover;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 8rem 0;
    gap: 8rem;
    background-color: var(--color-primary-opacity-light);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;

    &--header {
      &-heading {
        font-size: 40rem;
        letter-spacing: 3rem;
        background: url("../../../assets/heading-bg-clip.avif") -3rem -14rem /
          cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(1rem 1rem 1rem var(--color-primary-dark));
        user-select: none;
        margin: 0 0 2rem -2rem;

        & > span {
          display: inline-block;
          width: 23rem;
          height: 32rem;
          background: url("../../../assets/avocado.avif") center 2rem / cover
            no-repeat;
          margin-right: 3rem;
        }
      }

      &-sub {
        font-weight: 700;
        text-align: center;
        font-size: 2.4rem;
        text-shadow: 0.1rem 0.1rem 1rem var(--color-primary);
        color: var(--color-primary-dark);
      }
    }

    &--btn {
      text-transform: uppercase;
      filter: drop-shadow(1rem 1rem 1rem var(--color-primary-dark));
    }
  }
}
