.carousel {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  padding: 2rem 6rem;
  height: 90vh;
  align-items: center;
  justify-items: center;
  backdrop-filter: blur(2px);

  &__heading {
    grid-area: 1/1/1 / span 5;
    justify-self: center;
    font-size: 4.4rem;
    text-shadow: 2px 2px 2px var(--color-primary-dark);
  }

  &__pagination {
    grid-area: 3/1/3/-1;
    align-items: center;
  }

  &__no-content {
    grid-area: 1 / 2 / 3 / span 2;
    text-align: center;

    & > a {
      filter: drop-shadow(0.4rem 0.4rem 0.3rem var(--color-primary-dark));
    }
  }

  .no-recipes {
    display: block;
    font-size: 5.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 12rem;
    text-shadow: 2px 2px 2px var(--color-primary);
  }
}

.search {
  align-items: start;
  padding-top: 0;
  height: auto;
  row-gap: 2rem;
}

@media screen and (max-width: 1500px) {
  .carousel {
    gap: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .carousel {
    height: 100vh;
    grid-template-columns: repeat(1, 40%) minmax(12.6rem, max-content);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem 0;
    padding: 4rem 0;
    overflow: scroll;
    justify-content: center;

    &__heading {
      grid-area: 1 / 1 / 2 / -1;
      justify-self: center;
    }

    &__pagination {
      grid-area: 4 / 1 / 4 / -1;
      margin: 0;
      align-self: center;
    }

    &__no-content {
      grid-area: 1 / 1 / 2 / -1;
    }
  }
}

@media screen and (max-width: 500px) {
  .carousel {
    grid-template-columns: max-content;
    grid-template-rows: repeat(6, 1fr);

    gap: 4rem;

    &__no-content,
    &__heading {
      grid-area: 1 / 1 / 2 / -1;
      justify-self: center;
      margin-bottom: 2rem;
    }

    &__pagination {
      grid-area: 6 / 1 / 6 / -1;
      margin: 0;
      align-self: center;
    }
  }
}
