<section class="carousel" [ngClass]="{'search': carouselType === 'search'}">
    @if (isLoading) {
    <app-loader class="loader-container" />
    } @else {
    @if (recipes.length) {
    @if (carouselType !== 'search') {
    <h2 class="carousel__heading">{{title}}</h2>
    }
    @for (recipe of recipes; track recipe.id) {
    <app-recipe-card [recipe]="recipe" />
    }
    } @else {
    <div class="carousel__no-content">
        <p class="no-recipes">
            @if (carouselType === 'user' || carouselType === 'all') {
            No recipes found
            } @else if(carouselType === 'liked') {
            You didn't like any recipes yet.
            } @else if(carouselType === 'bookmarked') {
            You didn't bookmark any recipes yet.
            }
        </p>
        @if(user) {
        <a routerLink="{{carouselType === 'user' ? '/recipes/create' : '/recipes' }}" class="btn btn--accent">
            @if (carouselType === 'user') {
            Create one
            } @else {
            Explore recipes
            }
        </a>.
        }
    </div>
    }
    @if (recipes.length) {
    <app-pagination [count]="recipesCount" [ingredients]="ingredients" [currentOffset]="currentOffset"
        [currentPage]="currentPage" [limit]="limit" [pagination]="pagination" class="carousel__pagination" />
    }
    }
</section>