<section class="carousel" [ngClass]="{'search': carouselType === 'search'}">
    @if (recipes.length) {
    @if (carouselType !== 'search') {
    <h2 class="carousel__heading">{{title}}</h2>
    }
    @for (recipe of recipes; track recipe.id) {
    <app-recipe-card [recipe]="recipe" />
    }
    } @else {
    <div class="carousel__no-content">
        <p class="no-recipes">No recipes found</p>
        @if(user) {
        <a routerLink="/recipes/create" class="btn btn--accent">Create one</a>.
        }
    </div>
    }
    @if (recipes.length) {
    <app-pagination [count]="recipesCount" [ingredients]="ingredients" class="carousel__pagination" />
    }
</section>