.carousel {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr) max-content;
  padding: 8rem 6rem;
  height: 90vh;
  align-items: center;
  background-color: var(--color-primary-opacity-light);
  backdrop-filter: blur(2px);

  &__heading {
    grid-area: 1/1/1 / span 5;
    justify-self: center;
    font-size: 4.4rem;
    text-shadow: 2px 2px 2px var(--color-primary-dark);
    margin-bottom: 8rem;
  }

  &__arrows {
    margin-top: 12rem;
    font-size: 4rem;
    font-weight: var(--fw-bold);
    color: var(--color-primary-dark);
    display: flex;
    flex-direction: column;
    gap: 8rem;
    grid-area: 1 / 5 / 4 / -1;

    &--up,
    &--down {
      border: 2px solid var(--color-accent-dark);
      border-radius: 9px;
      padding: 0.5rem;
      text-align: center;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  &__no-content {
    grid-area: 1 / 2 / 3 / span 2;
    text-align: center;

    & > a {
      filter: drop-shadow(0.4rem 0.4rem 0.3rem var(--color-primary-dark));
    }
  }

  .no-recipes {
    display: block;
    font-size: 5.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 12rem;
    text-shadow: 2px 2px 2px var(--color-primary);
  }
}

@media screen and (max-width: 1500px) {
  .carousel {
    gap: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .carousel {
    height: 100vh;
    grid-template-columns: repeat(2, 40%) minmax(12.6rem, max-content);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem 0;
    padding: 4rem 0;
    overflow: scroll;
    justify-content: center;

    .carousel__heading {
      grid-area: 1 / 1 / 2 / -1;
      justify-self: center;
    }

    .carousel__arrows {
      grid-area: 2 / 3 / 4 / -1;
      margin: 0;
      align-self: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .carousel {
    grid-template-columns: 1fr;

    gap: 4rem;

    & __no-content,
    &__heading {
      grid-area: 1 / 1 / 2 / -1;
      justify-self: center;
      margin-bottom: 2rem;
    }

    .carousel__arrows {
      grid-area: auto; /* Let browser determine placement for now */
      justify-self: center; /* Keep centering horizontally */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
