<section class="profile">
    <div class="aside__container">
        <aside class="profile__aside">
            <nav class="profile__aside--nav">
                <ul class="profile__aside--nav-list">
                    <li class="profile__aside--nav-list-item" routerLinkActive="selected"><a
                            class="profile__aside--nav-list-item-link" routerLink="search">Search</a></li>
                    <li class="profile__aside--nav-list-item" routerLinkActive="selected"><a
                            class="profile__aside--nav-list-item-link" routerLink="news">News</a></li>
                    <li class="profile__aside--nav-list-item" routerLinkActive="selected"><a
                            class="profile__aside--nav-list-item-link" routerLink="recipes"
                            [queryParams]="{ offset: 0, limit: 4 }">My Recipes</a></li>
                    <li class="profile__aside--nav-list-item" routerLinkActive="selected"><a
                            class="profile__aside--nav-list-item-link" routerLink="liked"
                            [queryParams]="{ offset: 0, limit: 4 }">Liked
                            Recipes</a></li>
                    <li class="profile__aside--nav-list-item" routerLinkActive="selected"><a
                            class="profile__aside--nav-list-item-link" routerLink="bookmarked"
                            [queryParams]="{ offset: 0, limit: 4 }">Saved
                            Recipes</a></li>
                </ul>
            </nav>
            <div class="profile__aside--bubles">
                <img class="profile__aside--bubles-img" src="../../../assets/profile-bubles.avif"
                    alt="Nice arranged dish">
            </div>
        </aside>
    </div>
    <article class="profile__content bg" [@fadeInAnimation]="prepareRoute(outlet)" [ngClass]="{'bg': isRecipesRoute}">
        <router-outlet #outlet="outlet" />
    </article>
</section>