.aside__container {
  background-color: var(--color-primary-opacity-light);
  flex: 0 1 12%;
}

.profile {
  display: flex;
  background: linear-gradient(
      0deg,
      rgba(104, 119, 102, 0.8) 0%,
      rgba(104, 119, 102, 0.8) 100%
    ),
    url("../../../assets/details-bg.avif");

  &__aside {
    height: 90vh;
    border-right: 5px solid var(--color-primary-dark);
    border-bottom-right-radius: 20rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 9.5rem;

    &--nav {
      &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        gap: 4rem;
        padding: 4rem;

        &-item {
          background-color: var(--color-primary-dark);
          border-radius: 1rem;
          text-align: center;
          filter: drop-shadow(0.4rem 0.4rem 0.4rem var(--color-primary-dark));
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }

          &-link {
            transition: all 0.4s ease-in-out;
            white-space: nowrap;
          }

          &-link:link,
          &-link:visited {
            display: block;
            font-size: 1.6rem;
            text-decoration: none;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--color-primary-light);
            padding: 1.6rem 2rem;
          }

          &-link:hover,
          &-link:active {
            cursor: pointer;
            background-color: var(--color-accent);
            color: var(--color-primary-dark);
            border-radius: 1rem;
          }
        }
      }
    }

    &--bubles {
      display: flex;
      margin-top: 4rem;
      filter: drop-shadow(0 0 1rem var(--color-accent-dark));

      &-img {
        mask: url(https://assets.codepen.io/1101822/circles-mask-whole.svg)
          no-repeat center;
        width: 100%;
      }
    }
  }

  &__content {
    flex: 1;
    background-color: var(--color-primary-opacity-light);
  }
}

.selected {
  background-color: var(--color-accent);
  pointer-events: none;

  .profile__aside--nav-list-item-link {
    color: var(--color-primary-dark);
  }
}

.bg {
  background-color: transparent;
}

@media screen and (max-width: 900px) {
  .profile {
    height: 100vh;
    flex-direction: column;

    &__aside {
      height: auto;

      &--nav-list {
        flex-direction: row;
      }

      &--bubles {
        display: none;
      }
    }
  }
}
