.footer {
  display: grid;
  grid-template-columns: 1fr 1fr repeat(2, 2fr) auto;
  background-color: var(--color-primary-light);
  font-size: 1.4rem;
  color: var(--color-primary-dark);

  &__bg {
    background-color: var(--color-primary-bg);
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      width: 4rem;
      height: 100%;
      border-radius: 5rem 0 0 0;
      background-color: var(--color-primary-light);
    }
  }

  &__img {
    border-radius: 100% 0% 100% 100% / 100% 50% 100% 0%;
    border-left: 1rem solid var(--color-primary-dark);
    border-right: 1rem solid var(--color-primary-dark);
    background-image: url(../../../assets/footer-image.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 1rem;
    width: 140%;
  }

  &__logo {
    display: inline-block;
    text-align: start;
    grid-area: 1 / 4;
    transform: translate(5%, -40%);

    &--img {
      width: 50%;
      height: auto;
    }

    &--heading {
      transform: translate(-13%, 4rem);
      font-weight: var(--fw-bold);
    }
  }

  &__nav {
    display: grid;

    &--list {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 4.2rem;
      justify-self: center;

      &-link:link,
      &-link:visited {
        display: inline-block;
        text-decoration: none;
        color: var(--color-primary-dark);
        font-weight: var(--fw-bold);
        font-size: 1.8rem;

        transition: all 300ms;
      }

      &-link:hover,
      &-link:active {
        color: var(--color-accent-dark);
      }
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 4.2rem 3.6rem 3.6rem 0;

    &--text {
      font-size: 1.8rem;
      line-height: 1.2;
      letter-spacing: 0.75px;
      width: fit-content;

      &--icons {
        display: flex;
        gap: 2.4rem;
        height: 100%;

        &-angular,
        &-node,
        &-express,
        &-mysql {
          width: 10%;
          height: 3rem;
          background-color: var(--color-accent-dark);
        }

        &-angular {
          mask: url(../../../assets/icons/angular.svg) no-repeat center;
        }
        &-node {
          mask: url(../../../assets/icons/node.svg) no-repeat center;
        }
        &-express {
          mask: url(../../../assets/icons/express.svg) no-repeat center;
        }
        &-mysql {
          mask: url(../../../assets/icons/mysql.svg) no-repeat center;
        }
      }

      &-creator {
        color: var(--color-primary-bg);
        align-self: flex-end;

        &-name:link,
        &-name:visited {
          color: inherit;
          border-bottom: none;
        }

        &-name:hover,
        &-name:active {
          color: var(--color-accent-dark);
          box-shadow: inset 0 -1px 0 var(--color-accent-dark);
        }
      }
    }

    &--header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;

      &-link {
        width: 10%;
        height: 4rem;
        background-color: var(--color-primary-dark);
        mask: url(../../../assets/icons/github.svg) no-repeat center;
        &-icon {
          color: var(--color-accent-dark);
          font-size: 1.4rem;
        }
      }

      &-heading {
        margin-bottom: 0;
      }

      &-icon {
        width: 2.6rem;
        color: var(--color-accent-dark);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    &__img {
      display: none;
    }

    &__logo {
      grid-area: 1 / 3;
      transform: translateY(0);
      height: fit-content;
      text-align: center;
      width: 80%;
      align-self: center;

      &--img {
        width: 15rem;
      }

      &--heading {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    width: 100%;
    grid-template-columns: auto auto auto 30rem;

    &__bg {
      background-color: var(--color-primary-light);
    }

    &__nav {
      justify-content: flex-start;

      &--list {
        gap: 2.4rem;
      }
    }

    &__copyright {
      gap: 2rem;
    }
  }
}
