<footer class="footer">
    <div class="footer__img"></div>
    <div class="footer__logo">
        <img src="../../../assets/logo.png" alt="Footer logo" class="footer__logo-img">
    </div>
    <nav class="footer__nav">
        <ul class="footer__nav-list">
            <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="#">Login</a>
            </li>
            <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="#">Register</a>
            </li>
            <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="#">Dashboard</a>
            </li>
            <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="#">Recipes</a>
            </li>
        </ul>
    </nav>
    <div class="footer__copyright">
        <div class="footer__copyright--header">
            <h2 class="subheading footer__copyright--header-heading">Cook It</h2>
            <a href="#"><img src="../../../assets/icons/github.svg" alt="github icons"
                    class="footer__copyright--header-icon" /></a>
        </div>
        <p class="footer__copyright-text">Final project for Angular course in SoftUni.</p>
        <p class="footer__copyright-text">Created by Deayn Slavov <fa-icon [icon]="faCopy"
                class="footer__copyright-text-icon"></fa-icon></p>
    </div>
</footer>