.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
  background-color: var(--color-primary-light);
  font-size: 1.4rem;
  color: var(--color-primary-dark);

  &__bg {
    background-color: var(--color-primary-bg);
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      width: 4rem;
      height: 100%;
      border-radius: 5rem 0 0 0;
      background-color: var(--color-primary-light);
    }
  }

  &__img {
    border-radius: 100% 0% 100% 100% / 100% 50% 100% 0%;
    border-left: 1rem solid var(--color-primary-dark);
    border-right: 1rem solid var(--color-primary-dark);
    background-image: url(../../../assets/footer-image.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 1rem;
  }

  &__logo {
    display: inline-block;
    text-align: start;
    grid-area: 1 / 4;
    transform: translateY(-50%);

    &--img {
      width: 25rem;
      height: auto;
    }

    &--heading {
      transform: translate(-13%, 4rem);
      font-weight: var(--fw-bold);
    }
  }

  &__nav {
    display: grid;

    &--list {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 4.2rem;
      justify-self: center;

      &-link:link,
      &-link:visited {
        display: inline-block;
        text-decoration: none;
        color: var(--color-primary-dark);
        font-weight: var(--fw-bold);
        font-size: 1.8rem;

        transition: all 300ms;
      }

      &-link:hover,
      &-link:active {
        color: var(--color-accent-dark);
      }
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    padding: 3.8rem 2rem 3.6rem 0;

    &-text {
      font-size: 1.8rem;
      line-height: 1.2;
      letter-spacing: 0.75px;

      &-icon {
        color: var(--color-accent-dark);
        font-size: 1.4rem;
      }
    }

    &--header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;

      &-heading {
        margin-bottom: 0;
      }

      &-icon {
        width: 2.6rem;
        color: var(--color-accent-dark);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    &__logo {
      transform: translateY(15%);
      height: fit-content;

      &--img {
        width: 15rem;
      }

      &--heading {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    grid-template-columns: auto auto auto 30rem;

    &__img {
      display: none;
    }

    &__logo {
      grid-area: 1 / 3;
    }

    &__nav {
      justify-content: flex-start;

      &--list {
        gap: 2.4rem;
      }
    }

    &__copyright {
      gap: 2rem;
    }
  }
}
