.delete {
  background-image: linear-gradient(
      0deg,
      rgba(104, 119, 102, 0.7) 0%,
      rgba(104, 119, 102, 0.7) 100%
    ),
    url("../../../assets/delete-bg.jpg");
  background-size: cover;

  &__container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-opacity-light);
    backdrop-filter: blur(2px);
  }
}
