.form__container {
  height: 90vh;
  background-image: url(../../../assets/register-form-image.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: end;

  &--content {
    height: 90%;
    width: 60%;
    padding: 9.6rem;
    justify-self: center;
    align-self: self-start;
    background-color: var(--color-primary-opacity);
    box-shadow: var(--shadow);
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    &-heading {
      color: var(--color-primary-dark);
      width: max-content;
    }

    &-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.4rem;

      &-btn {
        display: block;
        width: 80%;
        margin-top: 2rem;
      }

      &-link {
        font-size: 1.2rem;
        color: var(--color-primary);
        font-weight: var(--fw-light);
      }
    }

    &-controls {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &-label {
        position: absolute;
        left: 4.6rem;
        font-size: 1.4rem;
        color: var(--color-primary);
        transition: all 0.3s cubic-bezier(0.4, 0.39, 1, 1);
      }

      &-input {
        font-weight: var(--fw-light);
        background-color: var(--color-primary-light);
        border: none;
        padding: 1rem;
        outline: none;
        border-radius: 9px;
        width: 80%;
        height: fit-content;
        transition: all 0.3s ease-in;
        position: relative;

        &::selection {
          background-color: var(--color-primary-opacity);
        }

        &::placeholder {
          opacity: 0;
        }

        &:focus {
          width: 100%;
          text-indent: 6rem;

          + .form__container--content-controls-label {
            width: 40%;
            text-align: center;
            transform: translate(-85%, 1%);
            color: var(--color-primary-light);
            font-weight: var(--fw-light);
            background-color: var(--color-primary);
            border-radius: 6rem;
            padding: 1.3rem 0;
          }
        }

        &:not(:placeholder-shown) {
          width: 80%;
          text-indent: 0;

          + .form__container--content-controls-label {
            transform: translate(-30%);
            opacity: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .form__container {
    &--content {
      &-controls {
        &-input {
          &:focus {
            + .form__container--content-controls-label {
              padding: 1.45rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .form__container {
    grid-template-columns: 1fr;
    align-content: center;

    &--content {
      width: 50%;

      &-form {
        width: 60%;
      }

      &-controls {
        &-input {
          &:focus + {
            .form__container--content-controls-label {
              transform: translate(-85%, -1%);
              padding: 1.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .form__container {
    &--content {
      width: 70%;

      &-controls {
        &-input {
          &:focus + {
            .form__container--content-controls-label {
              transform: translate(-140%, -2%);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .form__container {
    &--content {
      &-controls {
        &-input {
          &:focus + {
            .form__container--content-controls-label {
              transform: translate(-160%, 0);
              width: auto;
            }
          }
        }
      }
    }
  }
}
