.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12rem;
  right: 4rem;
  background-color: var(--color-accent);
  border-radius: 1rem;
  position: fixed;
  z-index: 99999;

  &__content {
    color: var(--color-primary-dark);
    padding: 0 1rem;
    padding: 2rem;

    &--icon {
      color: var(--color-primary);
      margin-right: 1rem;
    }

    &--heading {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }

    &--text {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__close {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    top: -1rem;
    right: -1rem;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--color-accent-dark);
    background-color: var(--color-primary-dark);
    border-radius: 100%;
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    cursor: pointer;
    filter: drop-shadow(0 0 0.5rem var(--color-accent-dark));
    transition: all 0.3s ease-in;

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-primary-dark);
      filter: drop-shadow(0 0 0.5rem var(--color-primary-dark));
    }
  }
}

.notification:hover .notification__close {
  display: flex;
}
