<div class="recipe-card">
    <img src="{{recipe.img}}" alt="food image" class="recipe-card__img">
    <a routerLink="/recipes/{{recipe.id}}/details" class="link">
        <div class="recipe-card__header">
            <h4 class="recipe-card__header--heading">{{recipe.name}}</h4>
        </div>
    </a>
    <div class="recipe-card__info">
        <fa-icon [icon]="faInfo" class="recipe-card__info--icon" />
        <div class="recipe-card__content">
            <div class="recipe-card__content--times">
                <p class="recipe-card__content--times-prep"><fa-icon class="recipe-card__content--times-icon"
                        [icon]="faClock" />{{recipe.cookTime}}</p>
            </div>
            <p class="recipe-card__content--description">{{recipe.description}}</p>
        </div>
    </div>
</div>