.dashboard {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(104, 119, 102, 0.7) 0%,
      rgba(104, 119, 102, 0.7) 100%
    ),
    url("../../assets/dashboard-bg.jpg");
  background-size: cover;
  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.app-carousel {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .dashboard {
    height: 100vh;
  }

  .app-carousel {
    width: 100%;
  }
}
