<div class="error__container">
    <fa-icon [icon]="faExclamation" class="error__icon" />
    <div class="error">
        <ul class="error__list">
            @for (error of errors | keyvalue; track $index) {
            @for(errorMessage of error.value| keyvalue; track $index) {
            <li class="error__list--item">
                @if (errorMessage.key === 'required') {
                {{getFieldName(error.key)}} is {{errorMessage.key}}
                } @else if(errorMessage.key === 'pattern') {
                Please enter a valid {{getFieldName(error.key)}}.
                <p>e.g. john&#64;gmail.com</p>
                } @else if (errorMessage.key === 'minlength') {
                {{getFieldName(error.key)}} must be at least {{errorMessage.value['requiredLength']}}
                } @else if (errorMessage.key === 'maxlength') {
                {{getFieldName(error.key)}} must be at least {{errorMessage.value['requiredLength']}}
                } @else if (errorMessage.key === 'mismatch') {
                Passwords not match.
                } @else if (errorMessage.key === 'isNotNumber') {
                {{getFieldName(error.key)}} must be a number.
                } @else if (errorMessage.key === 'invalidQuantity') {
                {{getFieldName(error.key)}} must be a number
                <p>e.g. 1, 1.5, 1/2.</p>
                }
            </li>
            }
            }
        </ul>
    </div>
</div>