.details {
  background: linear-gradient(
      0deg,
      rgba(104, 119, 102, 0.8) 0%,
      rgba(104, 119, 102, 0.8) 100%
    ),
    url(../../../assets/details-bg.jpg);

  &__header {
    &--heading {
      font-size: 4.4rem;
      text-shadow: 2px 2px 2px var(--color-primary);
      margin-bottom: 2rem;
    }

    &--description {
      font-size: 1.6rem;
      color: var(--color-primary);
      max-width: 70%;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      margin-bottom: 4rem;
    }

    &--chips {
      padding-left: 2rem;
      display: flex;
      align-items: center;
      gap: 4rem;
      margin-bottom: 6rem;

      &-cta {
        display: flex;
        gap: 1rem;
        font-size: 3.6rem;

        &-likes {
          position: relative;

          &-like {
            color: var(--color-error);

            &:hover {
              cursor: pointer;
            }
          }
        }

        &-bookmarks {
          position: relative;

          &-bookmark {
            color: var(--color-accent-dark);

            &:hover {
              cursor: pointer;
            }
          }
        }

        span {
          font-size: 1.4rem;
          color: var(--color-primary-light);
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
        }
      }

      &-info {
        display: flex;
        gap: 1rem;

        &-times {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--color-primary);
          padding: 0.4rem 0.6rem;
          border-radius: 1rem;

          i {
            font-size: 2rem;
            color: var(--color-primary-dark);
          }
        }
      }
    }
  }

  &__container {
    width: 100%;
    padding: 10rem 10rem 30rem 10rem;
    display: flex;
    gap: 4rem;
    background-color: var(--color-primary-opacity-light);
    backdrop-filter: blur(2px);

    &--img {
      border-radius: 2rem;
      overflow: hidden;
      flex: 0 1 40%;
      height: fit-content;
      filter: drop-shadow(1.4rem 1.4rem 0.6rem var(--color-primary-dark));
      position: relative;
      position: sticky;
      top: 20rem;

      &--owner-btns {
        position: absolute;
        top: 2rem;
        left: 2rem;
        display: flex;
        width: 100%;
        align-items: center;
        gap: 4rem;
        text-align: center;

        &-btn:link,
        &-btn:active {
          font-size: 3rem;
          color: var(--color-primary);
          text-decoration: none;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          background-color: var(--color-primary-light);
          filter: drop-shadow(0.4rem 0.4rem 0.3rem var(--color-primary-dark));
          transition: all 0.3s ease-in;
        }

        &-btn:hover,
        &-btn:visited {
          color: var(--color-primary-dark);
        }

        &-btn:hover {
          transform: scale(1.1);
          background-color: var(--color-accent);
        }

        .edit::after {
          content: "Edit recipe";
        }

        .delete::after {
          content: "Delete recipe";
        }

        .edit::after,
        .delete::after {
          pointer-events: none;
          width: max-content;
          background-color: var(--color-primary-light);
          color: var(--color-primary);
          font-size: 1.2rem;
          position: absolute;
          bottom: -3rem;
          right: -2rem;
          padding: 0.2rem 0.5rem;
          border-radius: 1rem;
          text-align: center;
          opacity: 0;
          transition: all 0.5s cubic-bezier(0.85, 0.19, 0.29, 0.82);
        }

        .edit:hover::after,
        .delete:hover::after {
          opacity: 1;
        }
      }

      img {
        width: 100%;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;
      padding: 0 6rem;

      &-btns {
        display: flex;
        justify-content: space-evenly;

        &-btn,
        &-btn:link,
        &-btn:active {
          font-size: 3rem;
          text-shadow: 1px 1px 1px var(--color-primary);
          margin-bottom: 2.4rem;
          padding: 0 1.5rem 0.5rem 1.5rem;
          border: none;
          background: none;
          position: relative;
          transition: all 0.3s cubic-bezier(0.85, 0.19, 0.29, 0.82);

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 2rem;
            height: 1rem;
            border-left: 2px solid var(--color-accent-dark);
            border-bottom: 2px solid var(--color-accent-dark);
            filter: drop-shadow(-0.2rem 0.2rem 0.2rem var(--color-accent-dark));
            transition: all 0.5s cubic-bezier(0.85, 0.19, 0.29, 0.82);
          }
        }

        &-btn:hover,
        &-btn:visited {
          cursor: pointer;

          &::after {
            border-radius: 2rem;
            z-index: -1;
            width: 100%;
            height: 100%;
          }
        }
      }

      &-ingredients {
        &--list {
          height: 100%;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          padding: 4rem;
          border-left: 2px solid var(--color-primary);
          border-top: 2px solid var(--color-primary);
          border-radius: 4rem;
          margin-bottom: 4rem;
          color: var(--color-primary);

          &-item {
            font-size: 2rem;
            flex: 0 1 calc(40% - 1rem);
            display: flex;
            align-items: center;
            gap: 2rem;

            & > span {
              color: var(--color-primary-dark);
              border: 2px solid var(--color-accent-dark);
              border-radius: 1rem;
              padding: 0.2rem 0.7rem;
              display: ruby;
            }
          }
        }
      }

      &-steps {
        &--list {
          height: fit-content;
          list-style: numeric inside;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem 4rem;
          padding: 4rem;
          border-left: 2px solid var(--color-primary);
          border-top: 2px solid var(--color-primary);
          border-radius: 4rem;

          &-item {
            font-size: 2rem;
            color: var(--color-primary);
            line-height: 1.8;

            &::marker {
              line-height: 1;
              color: var(--color-accent-dark);
              font-size: 6rem;
              font-weight: 700;
            }
          }
        }
      }

      &-ingredients,
      &-steps {
        transition: height 0.3s ease-in-out;
        overflow: hidden;
      }
    }
  }
}

.hidden {
  height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.active {
  color: var(--color-accent-dark);
  text-shadow: 1px 1px 1px var(--color-accent-dark);
}

.cta-active {
  pointer-events: none;
  cursor: initial;
}

@media screen and (max-width: 1200px) {
  .details {
    &__container {
      flex-direction: column;

      &--img {
        position: initial;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        &--owner-btns {
          left: 25rem;
          gap: 2rem;
        }

        img {
          width: 50%;
        }
      }

      &--content {
        &-ingredients {
          &--list {
            &-item {
              flex: 0 1 calc(50% - 1rem);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .details {
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--chips {
        &-times {
          font-size: 2rem;
        }
      }
    }
  }

  .details__container--img--owner-btns {
    top: 0;
    left: 0;
  }

  .details__container--content-ingredients--list {
    flex-direction: column;
    padding-left: 10rem;
  }
}
