<section class="details">
    <div class="details__container">
        <media class="details__container--img">
            <img class="" src="{{recipe.img}}" alt="Good looking meal">
        </media>
        <div class="details__container--content">
            <header class="details__header">
                <h2 class="details__header--heading">{{recipe.name}}</h2>
                <p class="details__header--description">{{recipe.description}}</p>
            </header>
            <div class="details__container--content-btns">
                <button class="details__container--content-btns-btn" ngClass="{{showIngredients && 'active'}}"
                    (click)="onToggleIngredients()">Ingredients</button>
                <button class="details__container--content-btns-btn" ngClass="{{showDirections && 'active'}}"
                    (click)="onToggleDirections()">Directions</button>
            </div>
            <article class="details__container--content-ingredients" ngClass="{{(!showIngredients && 'hidden')}}">
                <ul class="details__container--content-ingredients--list">
                    @for (ingredient of recipe.ingredients; track $index) {
                    <li class="details__container--content-ingredients--list-item">
                        {{ingredient.ProductRecipe.quantity}}{{ingredient.ProductRecipe.unit}} {{ingredient.name}}
                    </li>
                    }
                </ul>
            </article>
            <article class="details__container--content-steps" ngClass="{{!showDirections && 'hidden'}}">
                <ol class="details__container--content-steps--list">
                    @for (step of recipe.steps; track $index) {
                    <li class="details__container--content-steps--list-item">{{step}}</li>
                    }
                </ol>
            </article>
        </div>
    </div>
</section>