@if (!isLoading) {
<section class="details">
    <div class="details__container">
        <media class="details__container--img">
            <img class="" src="{{recipe.img}}" alt="Good looking meal">
            @if (user?.id === recipe.userId) {
            <div class="details__container--img--owner-btns">
                <a routerLink="/recipes/{{recipe.id}}/edit" class="details__container--img--owner-btns-btn edit">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a routerLink="/recipes/{{recipe.id}}/delete" class="details__container--img--owner-btns-btn delete">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
            }
        </media>
        <div class="details__container--content">
            <header class="details__header">
                <h2 class="details__header--heading">{{recipe.name}}</h2>
                <p class="details__header--description">{{recipe.description}}</p>
                <div class="details__header--chips">
                    @if (user && user.id !== recipe.userId) {
                    <div class="details__header--chips-cta">
                        <div class="details__header--chips-cta-likes" [@iconAnimation]="isLiked" (click)="onLike()">
                            <fa-icon class="details__header--chips-cta-likes-like"
                                [icon]="isLiked ? faHeartFull : faHeart" />
                            <span [ngClass]="{'liked': isLiked}">{{recipe.like?.likesCount}}</span>
                        </div>
                        <div class="details__header--chips-cta-bookmarks" [@iconAnimation]="isBookmarked"
                            (click)="onBookmark()">
                            <fa-icon class="details__header--chips-cta-bookmarks-bookmark"
                                [icon]="isBookmarked ? faBookmarkFull : faBookmark" />
                            <span [ngClass]="{'bookmarked': isBookmarked}">{{recipe.bookmark?.bookmarksCount}}</span>
                        </div>
                    </div>
                    }
                    <div class="details__header--chips-info">
                        <p class="details__header--chips-info-times"><i class="fa-regular fa-clock"></i> Prep Time:
                            {{recipe.prepTime}} min</p>
                        <p class="details__header--chips-info-times"><i class="fa-solid fa-clock"></i> Cook Time:
                            {{recipe.cookTime}} min</p>
                    </div>
                </div>
            </header>
            <div class="details__container--content-btns">
                <button class="details__container--content-btns-btn" [class.active]="showIngredients"
                    (click)="onToggleIngredients()">Ingredients</button>
                <button class="details__container--content-btns-btn" [class.active]="!showIngredients"
                    (click)="onToggleDirections()">Directions</button>
            </div>
            <article [@ingredientsState]="{ value: showIngredients ? 'active' : 'inactive' }"
                class="details__container--content-ingredients" ngClass="{{(!showIngredients && 'hidden')}}">
                <ul class="details__container--content-ingredients--list">
                    @for (ingredient of recipe.ingredients; track $index) {
                    <li class="details__container--content-ingredients--list-item">
                        <span>{{ingredient.ProductRecipe.quantity}} {{ingredient.ProductRecipe.unit}}</span>
                        {{ingredient.name}}
                    </li>
                    }
                </ul>
            </article>
            <article [@directionsState]="{ value: showDirections ? 'active' : 'inactive' }"
                class="details__container--content-steps" ngClass="{{!showDirections && 'hidden'}}">
                <ol class="details__container--content-steps--list">
                    @for (step of recipe.steps; track $index) {
                    <li class="details__container--content-steps--list-item">{{step}}</li>
                    }
                </ol>
            </article>
        </div>
    </div>
</section>
}