.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-light);
  height: 9.6rem;
  padding: 0 4.8rem 0 4.8rem;
}

.logo {
  height: 8.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary-dark);
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-accent-dark);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
