<header class="header">
    <a href="#">
        <img class="logo" src="../../../assets/logo.png" alt="Omnifood Logo" />
    </a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#how">How it works</a></li>
            <li><a class="main-nav-link" href="#meals">Meals</a></li>
            <li><a class="main-nav-link" href="#testimonials">Recipes</a></li>
            <li><a class="main-nav-link" href="#pricing">Dashboard</a></li>
            <li><a class="btn btn--cta" href="/auth/register">Join now</a></li>
        </ul>
    </nav>
    <button class="btn-mobile-nav">
        <i class="fa-light fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
    </button>
</header>