<section class="about">
    <div class="about__content">
        <h2 class="heading-secondary about__content--heading">About</h2>
        <h4 class="subheading mt-md about__content--subheading">What's for dinner? Worry not, we've got you covered!
        </h4>
        <ul class="about__content--agenda">
            <li class="about__content--agenda-item"><fa-icon [icon]="faCircle"
                    class="about__content--agenda-icon"></fa-icon>A place where people can
                explore variety of recipes</li>
            <li class="about__content--agenda-item"><fa-icon [icon]="faCircle"
                    class="about__content--agenda-icon"></fa-icon>Personal space with personalized recipes, based on you
                products</li>
            <li class="about__content--agenda-item"><fa-icon [icon]="faCircle"
                    class="about__content--agenda-icon"></fa-icon>Create, Edit and Delete your own recipes</li>
            <li class="about__content--agenda-item"><fa-icon [icon]="faCircle"
                    class="about__content--agenda-icon"></fa-icon>Miss some of the ingredients? Add it to your list</li>
            <li class="about__content--agenda-item"><fa-icon [icon]="faCircle"
                    class="about__content--agenda-icon"></fa-icon>Cooking becomes not just a task but a stress-free,
                enjoyable experience</li>
        </ul>
    </div>
    <div class="about__bubles">
        <img class="about__bubles--img" width="1171" height="878" ngSrc="../../../assets/about-image.avif"
            alt="Nice arranged dish">
    </div>
</section>