.about {
  height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  gap: 9.6rem;

  &__bubles {
    width: 40%;
    filter: drop-shadow(2.2rem 2rem 0.8rem var(--color-primary-dark));

    &--img {
      mask: url(https://assets.codepen.io/1101822/circles-mask-whole.svg)
        no-repeat center;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6.6rem;
    gap: 2rem;

    &--heading {
      font-size: 9.8rem;
      text-shadow: 2px 1px 0px var(--color-primary-light);
    }

    &--agenda {
      width: 80%;
      list-style: none;
      font-size: 2rem;
      letter-spacing: 0.5px;
      line-height: 1.6;
      color: var(--color-primary-light);
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-item {
        display: flex;
        align-items: center;
      }

      &-icon {
        font-size: 1.2rem;
        color: var(--color-accent-dark);
        margin-right: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about {
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    gap: 0;

    &__bubles {
      margin: 4rem 0 4rem 0;
    }

    &__content {
      margin-top: 2rem;
      padding-top: 0;
      height: fit-content;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .about {
    flex-direction: column-reverse;

    &__bubles {
      margin: 1rem 0 0 0;
    }

    &__content {
      margin-bottom: 4.8rem;
      &--heading {
        font-size: 6.4rem;
      }

      &--subheading {
        margin: 1rem 0 0 0;
      }
    }
  }
}
