<section class="search">
    <h2 class="search__heading subheading">Turn ingredients into inspiration</h2>
    <form class="search__form">
        <div class="search__form--controls">
            <input type="text" placeholder="placeholder" id="search" class="search__form--controls-input" />
            <label for="search" class="search__form--controls-label">Search</label>
        </div>
        <input type="button" value="Search" class="search__form--btn btn btn--full" />
    </form>
</section>