.search {
  &__heading {
    margin-top: 4rem;
    font-weight: 600;
    text-align: center;
  }

  &__form {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;

    &--controls {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &-label {
        position: absolute;
        left: 10rem;
        font-size: 1.4rem;
        color: var(--color-primary);
        transition: all 0.3s cubic-bezier(0.4, 0.39, 1, 1);
      }

      &-input {
        font-weight: var(--fw-light);
        background-color: var(--color-primary-light);
        border: none;
        padding: 1.2rem;
        outline: none;
        border-radius: 1rem;
        width: 80%;
        height: fit-content;
        transition: all 0.3s ease-in;
        position: relative;

        &::selection {
          background-color: var(--color-primary-opacity);
        }

        &::placeholder {
          opacity: 0;
        }

        &:focus {
          width: 90%;
          text-indent: 8rem;

          + .search__form--controls-label {
            width: 20%;
            text-align: center;
            transform: translate(-85%, 1%);
            color: var(--color-primary-light);
            font-weight: var(--fw-light);
            background-color: var(--color-primary);
            border-radius: 6rem;
            padding: 1.6rem 0;
          }
        }

        &:not(:placeholder-shown) {
          width: 80%;
          text-indent: 0;

          + .search__form--controls-label {
            transform: translate(-30%);
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }

    &--btn {
      font-size: 1.6rem;
      padding: 0.8rem 1.9rem;
    }
  }

  &__no-content {
    margin-top: 12rem;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 700;
    text-shadow: 0.2rem 0.2rem 1rem var(--color-primary);

    span {
      display: inline-block;
    }

    &--icon {
      margin-left: 2rem;
      color: var(--color-accent-dark);
      filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--color-primary));
    }
  }
}

.search-error {
  border: 1px solid var(--color-error);
}
