<section class="section-hero">
    <div class="bg-video">
        <video autoplay muted loop class="bg-video__video">
            <source src="../../../assets/hero-video.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="hero">
        <div class="hero__heading">
            <div class="hero__heading-icon-container">
                <h1 class="heading-primary mb-sm hero__heading-primary">Cook it</h1>
                <img width="48" height="48" ngSrc="../../../assets/icons/noodles-in-a-bowl-svgrepo-com.svg"
                    alt="bowl icon" class="hero__heading-icon">
            </div>
            <h3 class="heading-tertiary hero__heading-slogan">Turn Ingredients into Inspiration</h3>
        </div>
        <div class="hero__cta">
            <p class="hero__cta-description mb-sm">
                Discover, create, and share delightful recipes!
            </p>
            <a routerLink="/recipes" [queryParams]="{ offset: 0, limit: 4 }" class="btn btn--accent mr-big">Explore
                Recipes</a>
            <a routerLink="" fragment="How" class="btn btn--cta">Learn more <div class="hero__cta--icon-container">
                    <fa-icon [icon]="faArrowDown" class="hero__cta--icon" animation="beat-fade" />
                </div></a>
        </div>
    </div>
</section>