.section-hero {
  position: relative;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 12.8rem;
  height: 100%;

  &__heading {
    margin: 0 12.8rem 0 0;

    &-icon-container {
      display: inline-block;
      position: relative;
    }

    &-icon {
      position: absolute;
      width: 4.8rem;
      height: 4.8rem;
      top: 0;
      right: 0;
      margin-top: -3rem;
      margin-right: -5rem;
    }

    &-primary {
      text-transform: uppercase;
    }

    &-slogan {
      color: var(--font-color-light);
    }
  }

  &__cta {
    margin: 0 12.8rem 9.6rem 0;

    &-description {
      font-size: 2rem;
      font-weight: var(--fw-bold);
      color: var(--font-color-dark);
      margin-bottom: 2rem;
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    gap: 8rem;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9.6rem;

    &__heading {
      margin: 0;
    }

    &__cta {
      margin: 0 0 14.2rem 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .hero {
    justify-content: flex-end;
    gap: 20rem;
  }
}
