.loader {
  font-size: 6.2rem;
  display: inline;
  font-weight: bold;
  color: var(--color-primary-dark);
  box-sizing: border-box;
  text-shadow: 0 0 2px var(--color-primary), 0 0 1px var(--color-primary),
    0 0 1px var(--color-primary);
  letter-spacing: 2px;
  position: relative;
}

.loader::after {
  content: "Loading";
  position: absolute;
  left: 0;
  top: 0.8rem;
  color: var(--color-accent-dark);
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: loader 6s ease infinite;
}

@keyframes loader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
